.full-page-loader {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.is-dark-theme-loader {
  background-color: darkslategray;
}
.is-dark-theme-loader .MuiCircularProgress-root {
  color: white;
}
