.course-lesson-video {
  width: 100%;
  height: 600px;
}
.course-lesson-video.small-size {
  height: auto;
}
.course-view-wrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

.course-title-rating {
  display: flex;
  align-items: center;
}
.course-lossons-list {
  margin-top: 20px;
}
